*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    justify-content: center;
    /* height: auto; */
    height: fit-content;
    /* border: solid green 2px; */
}



.background{
  background-image: url(/imgages/istockphoto-1410270664-1024x1024.jpg);
  height: 750px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c2e6924; 
  z-index: 999; 
}

.section1{
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 50px;
  color: white;
  justify-content: center;
  /* justify-content: space-between; */
  width: 80%;
  margin-top: 60px;  
    
}
.section1-h1{
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  margin-right: 30px;
}

.words{
  font-family: "lato",sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 50px;
  font-size: 20px;
}

.section2{
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  border-radius: 20px;
  border: 10px solid white;
  margin-bottom: 20px;
}

.video-container {
  position: relative;
 }

 video{
  height: 500px;
  width: fit-content;
  border-radius: 10px;
 }
 
 .button-container {
   text-align: center;
   margin-top: 20px;
 }
 
 .text{
  display: grid;
  justify-content: center;
 }
 
 .desc {
   justify-content: center;
   margin: 20px;
   font-size: large;
   font-family: 'Times New Roman', Times, serif;
 }
 
 .check-button {
   background-color: #4a82e9;
  margin-left: 30%;
   width: 40%;
   height: 60px;
   border-radius: 10px;
 }

 .container{
  margin-top: 400px;
}

.section3{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: #19334d;
    width: 80%;
    margin-top: 500px;
    margin-bottom: 20px;    
}

.section4{
    background-color: #19334d;
  margin: 0 auto;
  padding: 50px;
  color: white;
}
.section4-content{
  width: 80%;
  margin-left: 10%;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 40px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .irs-banner {
    background-color: #294673;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0 auto;
  }
  
  .irs-banner img {
    width: 60px;
    margin-left: 20px;
  }
  
  .irs-banner p {
    margin: 0 auto;
    font-size: 18px;
  }

  .top{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
  }

  .section6{
    align-items: center;
  }

  .section7{
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: #19334d;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.section8{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    background-color: #010b1d;
    padding: 50px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section8-content{
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.write-up{
  margin-top: 40px;
}

.risk-image{
    width: 400px;
}

.section9{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: #010b1d;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: white;
    width: 80%;
    margin-top: 20px;
    color:#010b1d ;
}

.section11{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    background-color: #1c2e69;
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 75%;
    margin-top: 20px;
    border-radius: 40px; 
}
.disclaimer {
  color: white;
  padding: 20px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  line-height: 30px;
}

.section12{
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    width: 100%;
    margin-top: 20px;
}
      
  .boxes{
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    height: 27rem;
    width: 80%;
  }

  .box1{
   color: white;
    margin: 20px;
    width: 70%;
    background-color: #1c2e69;
    border-radius: 10px;
    padding: 20px;
    padding-top: 50px;
  }

  .box2{
    color: white;
    margin: 20px;
    width: 70%;
    background-color: #1c2e69;
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
  }

  .box3{
    color: white;
    margin: 20px;
    width: 70%;
    background-color: #1c2e69;
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
  }

  .button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    height: 60px;
    justify-content: center;
}

.process-steps {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    text-align: center;
  }
  
  .step {
    text-align: center;
    border: 2px dashed #19334d;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    width: 30%;
  }
  
  .step-icon {
    margin-bottom: 10px;
  }
  
  .step-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .step-description {
    font-size: 14px;
  }

.content{
    display: flex;
}

.accordion {
    width: 75%;
    margin: 0 auto;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-header {
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
  }
  
  .accordion-item.active .accordion-content {
    display: block;
  }
  .accordion-item:hover .accordion-content {
    display: block;
  }
 
  .disclaimer p {
    font-size: 14px;
    margin: 0;
  }
  footer {
    background-color: #19334D;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  footer a {
    color: #f2f2f2;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }